<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Julien Laurencin </strong>. Currently I just finished my apprenticeship curriculum of a Master’s of Engineering in computer Science in Lyon at CPE school. At the same time I worked at Renault Trucks SAS company as a <strong>SAP consultant</strong>. My main activities is the maintenance of the <strong>module SD</strong> and the development of various reports, programs, function modules and Smartforms. In addition of my SAP main skills, the apprenticeship strengthened my knowledge on <strong>automation, agile method (Scrum) and DevOps process</strong>. 
              During my free time, I also like to improve my knowledege in <strong>Java and Web</strong> technologies with personnal project.           
  </p>


              <p>
                Calm, rational and adaptable, I like to work as a team and answers to users needs.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">August 04, 1992</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">julien.laurencin@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+33 633910823</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">24 rue Hector Berlioz, 69100 Villeurbanne
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">French, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>