<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2020</p>
              <div class="h5">Master’s of Engineering in Computer Science</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master’s of Engineering in computer Science</div>
               <h4 class="category">Chimie Physique Electronique Lyon 1
               </h4>
               <ul>
                <li>
                  The Master’s of Engineering was mainly focus on programming, project management, algorithmic, mathematics (algebra, combinatorial analyse, statistics), network, object programming
                                  </li>                                
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2017</p>
              <div class="h5">Bachelor’s Degree in Computer Science</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">The two first years of Bachelor’s Degree in Computer Science</div>
               <h4 class="category">Université Claude Bernard Lyon 1
               </h4>
               <ul>
                <li>The Bachelor's Degree aims at programming, project management, database, algorithmic, web, mathematics (algebra, combinato-rial analyse, statistics)
                </li>
               
              
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>