<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/PortfolioAngular.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Creation of my Portfolio</h4>
          <h5 class="card-text"><b>Technology :</b> Angular10, Bootstrap3, CSS, HTML </h5>
            <h5 class="card-text"><a href="https://julienlfra.github.io/portfolioAngular/#/">View my Live Demo</a></h5>
            <a href="https://github.com/JulienLfra/portfolioAngular" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/BookAngular.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Bookstore simulator</h4>
           <h5 class="card-text"><b>Technology :</b> Angular10, Bootstrap3, Firebase </h5>
    
            <h5 class="card-text"><a href="https://www.youtube.com/watch?v=L68WAST9kk0">View my Live Demo</a></h5>
          <a href="https://github.com/JulienLfra/Book-angular" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>

    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top"src="assets/images/AppareilAngular.PNG" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Household Appliances Management Simulator</h4>
           <h5 class="card-text"><b>Technology :</b> Angular10, Bootstrap3, Firebase </h5>
    
            <h5 class="card-text"><a href="https://www.youtube.com/watch?v=sy7WwRWee-E">View my Live Demo</a></h5>
          <a href="https://github.com/JulienLfra/HouseHoldAppliancesManagementSimuator" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/mamie.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Creation of social network mobile application  </h4>
          <h5 class="card-text"><b>Technology :</b> Flutter,Java, CSS, JS, HTML </h5>
            <h5 class="card-text"><a href="https://www.youtube.com/watch?v=lbFESykzdo4&feature=youtu.be">View my Live Demo</a></h5>
          <a href="https://github.com/JulienLfra/MamieAppMobile" class="btn btn-primary stretched-link">GithubLink App mobile</a>
          <a href="https://github.com/JulienLfra/MamieAppWEB" class="btn btn-primary stretched-link">GithubLink Front-end</a>
          <a href="https://github.com/JulienLfra/MamieAppBackEnd" class="btn btn-primary stretched-link">GithubLink Back-end</a>
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/bombernite.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Creation of mini-game: Bombernite </h4>
          <h5 class="card-text"><b>Technology :</b> Java </h5>
            <h5 class="card-text"><a href="https://www.youtube.com/watch?v=9r16gEMziz0&feature=youtu.be">View my Live Demo</a></h5>
        
          <a href="https://github.com/JulienLfra/Bombernite" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>


    
    </div>  
    </div>
  </div>